# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Shrey Patel\Downloads\cinder_0.9.2_vc2015\my-projects\ideal-gas-xelas-bot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
